body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'B612 Mono', monospace;
}

hr {
    border-color: white;
}

nav {
    position: fixed;
    top: 0;
    height: 7.5%;
    width: 100%;
    z-index: 69;
    margin: 0;
    padding: 0 10px;
    border: 2px solid white;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-links {
    display: inline-flex;
    justify-content: space-around;
    flex-grow: 1;
}

nav ul li {
    list-style: none;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: red;
}

.nav-link:active {
    color: black;
    background-color: white;
}

h1, h2 {
    text-align: center;
}

#mainHead {
    margin-top: 5%;
}

.landing {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 95vh;
}

.landing slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
    height: 78.5vh;
    animation: animate 10s linear infinite;
}

.landing slider slide {
    width: 20%;
    height: 100%;
    float: left;
}

.landing slider slide.slide2 {
    background-image: url("pics/improv.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.landing slider slide.slide3 {
    background-image: url("pics/rafting.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.landing slider slide.slide4 {
    background-image: url("pics/lax.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.landing slider slide.slide1 {
    background-image: url("pics/swinging.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@keyframes animate{
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

.about {
    display: flex;
    justify-content: space-around;
}

.about .aboutLeft {
    background-color: red;
    padding: 1% 5%;
}

.about .aboutRight {
    background-color: midnightblue;
    padding: 1% 5%;
}